/* CSS Document */
a,a:link,a:visited{color:#555;text-decoration: none;}
a:hover,a:active{color:#1a99da;text-decoration: none;}

body{ 
  -moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-khtml-user-select: none;
  user-select: none;
}
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, td,s {margin: 0;padding: 0; line-height:1.2}
th{margin: 0;padding: 0;}
body, button, input, select, textarea{font:12px Arial,'Hiragino Sans GB','Microsoft YaHei',sans-serif; color:#333;}
h1, h2, h3, h4, h5, h6 {font-size: 100%; font-weight:normal;}
address, cite, dfn, em, var {font-style: normal;}
code, kbd, pre, samp {font-family: courier new,courier,monospace;}
small {font-size: 12px;}
ul, ol {list-style: none outside none;}
sup {vertical-align: text-top;}
sub {vertical-align: text-bottom;}
legend {color: #000000;}
fieldset, img {border: 0 none;}
button, input, select, textarea {font-size: 100%;}
table {border-collapse: collapse;border-spacing: 0; width:100%;}
s{ font-style:normal; text-decoration:none;}
li{ list-style-type:none;}
i{ font-style: normal; }
.clearfix { *zoom: 1;}
.clearfix:before,.clearfix:after { display: table;line-height: 0;content: "";}
.clearfix:after { clear: both;}

i{ vertical-align:middle;}
i,label,input[type="checkbox"]{ vertical-align:middle;}
select{width:225px; height:30px; line-height:30px;}
map area{ outline: none; }
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  vertical-align:middle;
}



.auto{ margin:0 auto;}
.left{ float:left;}
.right{ float:right}
.bold{ font-weight:bold;}
.center{ text-align:center;}
.over{ overflow:hidden;}
.clear{ clear:both;}
.dashed{ border-bottom:1px dashed #ccc;}
.txt2em{ text-indent:2em;}
.relative{ position:relative;}
.absolute{ position:absolute;}
.txtOver{white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}

.tck-cover{ width:100%; height:100%; position: fixed; top:0; left:0; z-index:1000; background-color:rgba(0,0,0,0.6); display:;}
.modal1{ position: absolute; top:50%; left:50%; width:1150px;
  height:770px; margin: -385px 0 0 -575px;
  background:rgba(250,250,250,1);
  border:1px solid rgba(164,201,255,1);}
.modal1 .leftArea{ position: relative; height: 100%; box-sizing: border-box; width: 290px; overflow: hidden; position: absolute; left: 0; top: 0;}
.modal1 .leftArea .cont{ height: 690px; overflow: auto; text-align: center;}

.modal1 .leftArea .btnsWap{ width: 100%; left: 0; position: absolute; bottom: 30px; }
.modal1 .li{width:249px; display: inline-block;
  height:176px;
  background:rgba(255,255,255,1);
  border:1px solid rgba(164,201,255,1); position: relative;}
.modal1 .li{background-size: 100% auto; background-repeat: no-repeat}
.modal1 .li.active{ border-color: #FFB638}
.modal1 .li.active::after{ content: ''; position: absolute; top: 50%; right: -12px; margin-top: -12px; width: 12px; height: 24px; background: url(./assets/img18.png); background-size: 100% 100%; }
.modal1 .rightArea{ margin-left: 290px; height: 100%; }
.modal1 .rightArea .cont{ width:806px; text-align: center; background: url(./assets/img17.png); background-size: 100% 100%;
  height:611px; margin: 0 auto; margin-top: 35px;}
.modal1 .rightArea .imgWap{ width: 800px; height: 604px; margin: 4px 0 0 3px; overflow: hidden;}
.modal1 .rightArea .cont img{ height: 100%;}
#the-canvas{ zoom: 0.72; margin-top: -70px;}

.pad5{ padding:5px;}
.pad10{ padding:10px;}
.pad15{ padding:15px;}
.pad15RL{ padding:0 15px;}
.pad15TB{ padding:15px 0;}

.pad20{ padding:20px;}
.pad30{ padding:30px;}
.pad40{ padding:40px;}
.pad20TB{ padding:20px 0;}
.pad10TB{ padding:10px 0;}
.pad30TB{ padding:30px 0;}
.pad30RL{ padding:0 30px;}
.pad5TB{ padding:5px 0;}
.pad20RL{ padding:0 20px;}
.pad10RL{ padding:0 10px;}
.pad5RL{ padding:0 5px;}
.pad50RL{ padding: 20px 50px; }
.padA5 a,.padS5 s{ padding:0 5px;}
.padA10 a{ padding:0 10px;}.padA20 a{ padding:0 20px;}.padA30 a{ padding:0 30px;}
.padAR20 a{ padding-right: 20px; } 
.padEm em{ font-weight:bold; padding:0 5px 0 0;}
.rightA10 a{ margin-right:10px;}
.transtion,.transtion li,.transtion dd,.transtion a{-webkit-transition:all .3s ease-out;-moz-transition:all .3s ease-out;-ms-transition:all .3s ease-out;-o-transition:all .3s ease-out;transition:all .3s ease-out;}
.borderNo{ border:none !important;}
.border{ border: 1px solid #eee}
.widthfull{ width:100%;}
.width1200{ width:1200px;}
.width945{ width:945px;}
.width980{ width:980px;}
.width542{ width:542px;}
.width225{ width:225px;}
.width250{ width:250px;}
.width728{ width:728px;}
.width730{ width:730px;}
.width527{ width:527px;}
.width540{ width:540px;}
.width774{ width:774px;}
.width767{ width:767px;}
.width760{ width:760px;}
.width772{ width:772px;}
.width382{ width:382px;}
.width324{ width:324px;}
.width380{ width:380px;}
.width223{ width:223px;}
.width191{ width:191px;}
.width60{ width:60px;}
.width498{ width:498px;}
.width290{ width:290px;}
.width288{ width:288px;}
.width700{ width:700px;}

.font12{ font-size:12px;}
.font14{ font-size:14px;}
.font14b{ font-size:14px; font-weight:bold;}
.font16{ font-size:16px;}
.font16b{ font-size:16px; font-weight:bold;}
.font18{ font-size:18px;}
.font18b{ font-size:18px; font-weight:bold;}
.font20{ font-size:20px;}
.font30{ font-size:30px;}
.font36{ font-size:36px;}
.font28{ font-size:28px;}
.font20b{ font-size:20px; font-weight:bold;}
.font22{ font-size:22px; }
.font22b{ font-size:22px; font-weight:bold;}
.font24b{ font-size:24px; font-weight:bold;}
.font24{ font-size:24px;}
.font26{ font-size:26px;}
.font26b{ font-size:26px; font-weight: bold}
.font28b{ font-size:28px; font-weight: bold}
.font_wei{ font-family:"�0�10�0�110�0�10��72�0�10�0�110�0�16�0�696�0�10�0�110�0�3�0�23�0�3��0�3��0�10�0�110�0�16�0�695�0�10�0�110�0�3�0�24�0�3��0�10�6�77�0�10�0�116�0�3��9�0�10�6�73�0�10��2�0�3��0�10�6�77�0�10�0�110�0�16�0�693�0�10�6�73�0�10��3";}
.font34{ font-size:34px;}

.line16{ line-height:16px;}
.line18{ line-height:18px;}
.line20{ line-height:20px;}
.line21{ line-height:21px;}
.line22{ line-height:22px;}
.line22 td{ line-height:22px;}
.line24{ line-height:24px;}
.line25{ line-height:25px;}
.line26{ line-height:26px;}
.line28{ line-height:28px;}
.line30{ line-height:30px !important;}
.line32{ line-height:32px;}
.line30 p{ line-height:30px !important;}
.line36{ line-height:36px;}
.line38{ line-height:38px;}
.line40{ line-height:40px;}
.line35{ line-height:35px;}
.line45{ line-height:45px;}
.line50{ line-height:50px;}

.radius_3px{border-radius:3px;}
.radius_5px{border-radius:5px;}
.radius_10px{border-radius:10px;}
.m-flex-wap{ display: -webkit-box!important;display: -webkit-flex!important;display: -ms-flexbox!important;display: flex!important;-webkit-flex-wrap: wrap;-ms-flex-wrap: wrap;flex-wrap: wrap; align-items: center;}
.m-flex-per{ -webkit-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1; width: 0; -webkit-flex-basis: 0; -ms-flex-preferred-size: 0; flex-basis: 0; max-width: 100%; display: block; padding: 0!important;}
.m-flex-per2{ -webkit-box-flex: 2; -webkit-flex: 2; -ms-flex: 2; flex: 2; width: 0; -webkit-flex-basis: 0; -ms-flex-preferred-size: 0; flex-basis: 0; max-width: 100%; display: block; padding: 0!important;}
.m-flex-per3{ -webkit-box-flex: 3; -webkit-flex: 3; -ms-flex: 3; flex: 3; width: 0; -webkit-flex-basis: 0; -ms-flex-preferred-size: 0; flex-basis: 0; max-width: 100%; display: block; padding: 0!important;}
.m-flex-per4{ -webkit-box-flex: 4; -webkit-flex: 4; -ms-flex: 4; flex: 4; width: 0; -webkit-flex-basis: 0; -ms-flex-preferred-size: 0; flex-basis: 0; max-width: 100%; display: block; padding: 0!important;}
.m-flex-per5{ -webkit-box-flex: 5; -webkit-flex: 5; -ms-flex: 5; flex: 5; width: 0; -webkit-flex-basis: 0; -ms-flex-preferred-size: 0; flex-basis: 0; max-width: 100%; display: block; padding: 0!important;}
.left2{ margin-left:2px;}
.left5{ margin-left:5px;}
.left10{ margin-left:10px;}
.left13{ margin-left:13px;}
.left15{ margin-left:15px;}
.left20{ margin-left:20px;}
.left25{ margin-left:25px;}
.left30{ margin-left:30px;}
.left35{ margin-left:35px;}
.left40{ margin-left:40px}
.left50{ margin-left:50px;}
.left55{ margin-left:55px;}
.left60{ margin-left:60px;}
.left70{ margin-left:70px;}
.left7{ margin-left:7px;}
.left90{ margin-left:90px;}
.left58{ margin-left:58px;}
.left120{ margin-left:120px;}
.left100{ margin-left:100px;}

.right2{ margin-right:2px;}
.right5{ margin-right:5px;}
.right10{ margin-right:10px;}
.right13{ margin-right:13px;}
.right15{ margin-right:15px;}
.right20{ margin-right:20px;}
.right25{ margin-right:25px;}
.right30{ margin-right:30px;}
.right35{ margin-right:35px;}
.right40{ margin-right:40px}
.right50{ margin-right:50px;}
.right55{ margin-right:55px;}
.right60{ margin-right:60px;}
.right70{ margin-right:70px;}
.right90{ margin-right:90px;}
.right120{ margin-right:120px;}

.top2{ margin-top:2px;}
.top3{ margin-top:3px;}
.top5{ margin-top:5px;}
.top6{ margin-top:6px;}
.top7{ margin-top:7px;}
.top8{ margin-top:8px;}
.top10{ margin-top:10px;}
.top12{ margin-top:12px;}
.top15{ margin-top:15px;}
.top18{ margin-top:18px;}
.top20{ margin-top:20px;}
.top22{ margin-top:22px;}
.top24{ margin-top:24px;}
.top25{ margin-top:25px;}
.top30{ margin-top:30px;}
.top35{ margin-top:35px;}

.top40{ margin-top:40px;}
.top45{ margin-top:45px;}
.top50{ margin-top:50px;}
.top60{ margin-top:60px;}
.top65{ margin-top:65px;}
.top70{ margin-top:70px;}
.top90{ margin-top:90px;}

.btm3{ margin-bottom:3px;}
.btm5{ margin-bottom:5px;}
.btm6{ margin-bottom:6px;}
.btm7{ margin-bottom:7px;}
.btm8{ margin-bottom:8px;}
.btm10{ margin-bottom:10px;}
.btm12{ margin-bottom:12px;}
.btm15{ margin-bottom:15px;}
.btm18{ margin-bottom:18px;}
.btm20{ margin-bottom:20px;}
.btm22{ margin-bottom:22px;}
.btm30{ margin-bottom:30px;}
.btm40{ margin-bottom:40px;}
.btm45{ margin-bottom:45px;}
.btm50{ margin-bottom:50px;}
.btm90{ margin-bottom:90px;}


.col555,.col555 a:link,.col555 a:visited,a.col555:link, a.col555:visited{color:#555;text-decoration: none;}
.col555 a:hover,.col555 a:active,a.col555:hover, a.col555:active{color:#c9726a;text-decoration: none;}

.col333,.col333 a:link,.col333 a:visited,a.col333:link, a.col333:visited{color:#333;text-decoration: none;}
.col333 a:hover,.col333 a:active,a.col333:hover, a.col333:active{color:#c9726a;text-decoration: none;}

.col999,.col999 a:link,.col999 a:visited,a.col999:link, a.col999:visited{color:#999;text-decoration: none;}
.col999 a:hover,.col999 a:active,a.col999:hover, a.col999:active{color:#c9726a;text-decoration: underline;}

.col666,.col666 a:link,.col666 a:visited,a.col666:link, a.col666:visited{color:#666;text-decoration: none;}
.col666 a:hover,.col666 a:active,a.col666:hover, a.col666:active{color:#c9726a;text-decoration: underline;}

.colfff,.colfff a:link,.colfff a:visited,a.colfff:link, a.colfff:visited{color:#fff;text-decoration: none;}
.colfff a:hover,.colfff a:active,a.colfff:hover, a.colfff:active{color:#fff;text-decoration: none;}

.colblue,.colblue a:link,.colblue a:visited,a.colblue:link, a.colblue:visited{color:#114592;text-decoration: none;}
.colblue a:hover,.colblue a:active,a.colblue:hover, a.colblue:active{color:#0885BC;text-decoration: underline;}

.colblue2,.colblue2 a:link,.colblue2 a:visited,a.colblue2:link, a.colblue2:visited{color:#1755B1;text-decoration: none;}
.colblue2 a:hover,.colblue2 a:active,a.colblue2:hover, a.colblue2:active{color:#0885BC;text-decoration: underline;}

.colred,.colred a:link,.colred a:visited,a.colred:link, a.colred:visited{color:#ff3000!important;text-decoration: none;}
.colred a:hover,.colred a:active,a.colred:hover, a.colred:active{color:#c52424;text-decoration: underline;}

.col000,.col000 a:link,.col000 a:visited,a.col000:link, a.col000:visited{color:#000;text-decoration: none;}
.col000 a:hover,.col000 a:active,a.col000:hover, a.col000:active{color:#a37c1a;text-decoration: none;}

.colPink,.colPink a:link,.colPink a:visited,a.colPink:link, a.colPink:visited{color:#ff422f;text-decoration: none;}
.colPink a:hover,.colPink a:active,a.colPink:hover, a.colPink:active{color:#cb1100;text-decoration: none;}

.colpurple{ color: #cc72c5 }
.colye{ color:#F66800;}
.colGreen{ color:#b8d38f;}

.pointer{ cursor:pointer}
.bor_btm_da{ border-bottom:1px dashed #ccc;}
.bor_btm_so{ border-bottom:1px solid #ddd;}
.disInline{ display:inline;}

.bgFFF{ background-color:#fff;}
.bgF5{ background-color:#f5f5f5;}
.shadow{box-shadow:2px 2px 4px rgba(0,0,0,0.2);}
.verMid{ vertical-align:middle} 
.through{text-decoration:line-through}
.chosen{ display:none;}
.align-right{ text-align:right }
.align-left{ text-align:left }
.underline{ text-decoration:underline !important}
.italic{ font-style: italic;}

::-webkit-scrollbar {  
  width: 14px;  
  height: 14px;  
}  
  
::-webkit-scrollbar-track,  
::-webkit-scrollbar-thumb {  
  border-radius: 999px;  
  border: 5px solid transparent;  
}  
  
::-webkit-scrollbar-track {  
  box-shadow: 1px 1px 5px rgba(0,0,0,.2) inset;  
}  
  
::-webkit-scrollbar-thumb {  
  min-height: 20px;  
  background-clip: content-box;  
  box-shadow: 0 0 0 5px rgba(0,0,0,.2) inset;  
}  
  
::-webkit-scrollbar-corner {  
  background: transparent;  
}

.btns,a.btns{ text-align:center; display:inline-block; color:#fff; border-radius:4px; vertical-align:middle; border:none;text-decoration:none; outline:none; -webkit-appearance:none; cursor:pointer}
.btns:active{ opacity: 0.8}

/* btns' size*/
.btns-small{ width:140px; line-height:48px; font-size: 22px;  }
.btns-nom{ padding: 0 25px; line-height: 60px; font-size: 24px; border-radius:4px;}

.btns-big{width:180px; line-height:48px; font-size: 22px; border-radius:3px;}

/* btns' color*/
.btns-blue{ background:#1755B1;}
.btns-blue.disabled{ background: #E6E6E6; color: #999;}
.btns-grey{background:rgba(218,224,231,1); color: #999;}

.btns-cir-small{ border-radius: 24px;}

.btns-bor{ border:1px solid rgba(201,201,201,1); color: #333; }

.justify{text-align:justify;text-align-last:justify;line-height:0;}
.justify:after{display:inline-block;overflow:hidden; width:100%; height:0; content:''; vertical-align:top;}
.justify .span{ vertical-align: top; display:inline-block;}
.justify .span p,.justify .span span{text-align:auto;text-align-last:auto}

.fullImg img{ width: 100%; }

.bor-right{ border-right: 1px solid #ddd; }

input.error{ border-color: #00bff4}

.m-table1 td{ text-align: left; padding: 10px 0 }
.m-table2 td{ padding: 15px 0; vertical-align: top }
.m-table2 td p{ line-height: 1.4;}
.m-table3 td{ padding: 10px 18px; text-align: left; font-size: 22px; border: 1px solid #ddd; }
.m-table3 .td{ background-color: #f8f8f8; width: 160px; text-align: center; color: #114592}

.m-table4 td{ padding: 10px 0; vertical-align: top }


.tableHeader th{ padding: 15px 0; text-align: center; background-color: #1755B1; color: #fff; font-size: 20px;}
.tableTr td{ padding: 15px 0; font-size: 20px; text-align: center;;}

.tableHeader2 th{ padding: 15px 0; text-align: center; background-color:rgba(248,248,248,1);  color: #fff; font-size: 22px; color: #114592}


/* vue.js */
[v-cloak],[v-for] { display: none }

.icoAll{ background: url(./assets/spirit.png) no-repeat; vertical-align: middle; display: inline-block;}
.aIco1{ width: 50px; height: 38px; background-position: -1535px -1082px}
.aIco2{ width: 50px; height: 38px; background-position: -1778px -1082px}
.aIco3{ width: 50px; height: 38px; background-position: -2021px -1082px}
.aIco4{ width: 50px; height: 38px; background-position: -1511px -1204px}
.aIco5{ width: 50px; height: 38px; background-position: -1688px -1204px}
.aIco6{ width: 50px; height: 38px; background-position: -1870px -1204px}
.aIco7{ width: 50px; height: 38px; background-position: -2040px -1204px}
.aIco8{ width: 50px; height: 38px; background-position: -2186px -1204px}

.bIco1{ width: 48px; height: 48px; background-position: -1499px -1350px}
.bIco2{ width: 48px; height: 48px; background-position: -1608px -1350px}
.bIco3{ width: 48px; height: 48px; background-position: -1715px -1350px}
.bIco4{ width: 48px; height: 48px; background-position: -1838px -1350px}
.bIco5{ width: 48px; height: 48px; background-position: -1961px -1350px}
.bIco6{ width: 48px; height: 48px; background-position: -2097px -1350px}

.ico1{ width: 32px; height: 32px; background-position: -2153px -115px;}
.ico2{ width: 32px; height: 32px; background-position: -2153px -162px;}
.ico3{ width: 32px; height: 32px; background-position: -2153px -210px;}
.ico4{ width: 96px; height: 42px; background-position: -2155px -261px; cursor: pointer;}
.ico4.on{ background-position: -2155px -320px;}


.cIco1{ width: 89px; height: 64px; background-position: -957px -557px}
.cIco2{ width: 89px; height: 64px; background-position: -1206px -557px}
.cIco3{ width: 89px; height: 64px; background-position: -1434px -562px}
.cIco4{ width: 89px; height: 64px; background-position: -1678px -563px}
.cIco5{ width: 89px; height: 64px; background-position: -957px -699px}
.cIco6{ width: 89px; height: 64px; background-position: -1205px -698px}
.cIco7{ width: 89px; height: 64px; background-position: -1435px -698px}
.cIco8{ width: 89px; height: 64px; background-position: -1678px -698px}
.cIco9{ width: 89px; height: 64px; background-position: -957px -844px}
.cIco10{ width: 89px; height: 64px; background-position: -1205px -843px}

.dIco1{ width: 32px; height: 32px; background-position: -278px -1065px;}
.dIco2{ width: 32px; height: 32px; background-position: -487px -1065px;}
.dIco3{ width: 32px; height: 32px; background-position: -677px -1065px;}
.dIco4{ width: 32px; height: 32px; background-position: -876px -1065px;}
.dIco5{ width: 32px; height: 32px; background-position: -1061px -1065px;}

.eIco1{ width: 89px; height: 64px; background-position: -1623px -135px}
.eIco2{ width: 89px; height: 64px; background-position: -1843px -135px}
.eIco3{ width: 89px; height: 64px; background-position: -1595px -306px}
.eIco4{ width: 89px; height: 64px; background-position: -1715px -306px}
.eIco5{ width: 89px; height: 64px; background-position: -1868px -306px}

.active .dIco1{ background-position: -278px -1144px;}
.active .dIco2{ background-position: -487px -1144px;}
.active .dIco3{ background-position: -677px -1144px;}
.active .dIco4{ background-position: -876px -1144px;}
.active .dIco5{ background-position: -1061px -1144px;}

.ico5{ width: 84px; height: 63px; background-position: -1269px -135px}
.ico6{ width: 84px; height: 63px; background-position: -1418px -135px}
.ico7{ width: 84px; height: 63px; background-position: -1269px -270px}

.yyBox1 .icoAll{width: 84px; height: 63px; background-size: 100% 100%; }
.yyBox2 .icoAll{width: 73px; height: 73px; background-size: 100% 100%; }
.cxCont1 .icoAll{ width: 89px; height: 64px; background-size: 100% 100%;}
.cxCont2 .icoAll{ width: 80px; height: 80px; background-size: 100% 100%;}

.fIco1{ width: 74px; height: 60px; background-position: -121px -145px}
.fIco2{ width: 74px; height: 60px; background-position: -295px -145px}
.fIco3{ width: 74px; height: 60px; background-position: -115px -285px}
.fIco4{ width: 74px; height: 60px; background-position: -294px -284px}

.ico8{ width: 163px; height: 152px; background-position: -699px -1248px}

.gIco1{ width: 101px; height: 91px; background-position: -482px -82px}
.gIco2{ width: 101px; height: 91px; background-position: -621px -82px}
.gIco3{ width: 101px; height: 91px; background-position: -757px -82px}
.gIco4{ width: 101px; height: 91px; background-position: -905px -82px}
.gIco5{ width: 101px; height: 91px; background-position: -1067px -82px}

.active .gIco1{ background-position: -482px -252px}
.active .gIco2{ background-position: -621px -252px}
.active .gIco3{ background-position: -757px -252px}
.active .gIco4{ background-position: -905px -252px}
.active .gIco5{ background-position: -1067px -252px}

.ico9{ width: 79px; height: 34px; line-height: 34px; background-position: -1422px -282px}
.ico9.cancel{ background: none;background:rgba(218,224,231,1); color: #999;}
.ico10{ width: 73px; height: 73px; background-position: -152px -539px}
.ico11{ width: 73px; height: 73px; background-position: -155px -678px}
.ico12{ width: 73px; height: 73px; background-position: -153px -832px}
.ico13{ width: 36px; height: 36px; background-position: -1037px -1309px}
.ico14{ width: 28px; height: 25px; background-position: -500px -1391px}
.ico15{ width: 88px; height: 65px; background-position: 0px -1531px}
.ico16{ width: 88px; height: 65px; background-position: -106px -1525px}

.hIco1{ width: 60px; height: 60px; background-position: -589px -517px;}
.hIco2{ width: 60px; height: 60px; background-position: -589px -591px;}
.hIco3{ width: 60px; height: 60px; background-position: -589px -665px;}
.hIco4{ width: 60px; height: 60px; background-position: -589px -736px;}
.hIco5{ width: 60px; height: 60px; background-position: -589px -809px;}
.active .hIco1{ width: 60px; height: 60px; background-position: -371px -517px;}
.active .hIco2{ width: 60px; height: 60px; background-position: -371px -591px;}
.active .hIco3{ width: 60px; height: 60px; background-position: -371px -665px;}
.active .hIco4{ width: 60px; height: 60px; background-position: -371px -736px;}
.active .hIco5{ width: 60px; height: 60px; background-position: -371px -809px;}

.iIco1{ width: 36px; height: 36px; background-position: -924px -1309px;}
.iIco2{ width: 36px; height: 36px; background-position: -980px -1309px;}
.iIco3{ width: 36px; height: 36px; background-position: -1037px -1309px;}
.iIco4{ width: 36px; height: 36px; background-position: -1309px -1309px;}



.header{ box-sizing: border-box; height: 120px; background: url(./assets/img1.png) repeat-x center; background-size: 100% 100%}
.header .logo{ width: 65px; height: 68px; margin: 24px 0 0 45px; background: url(./assets/logo.png) no-repeat left center; display: inline-block;}
.container{ padding: 119px 0 53px 0; background: url(./assets/img2.jpg); background-size: 100% 100%;}

.maxWidth{ min-width: 1200px;  max-width: 1300px; margin: 0 auto}

.boxWap .box1{ text-align: left; width:434px; height:210px; background:rgba(23,85,177,1); border-radius:4px; display: inline-block; margin-bottom: 25px}
.boxWap .box2{ text-align: left; width:210px; height:210px; background:rgba(23,85,177,1); border-radius:4px; display: inline-block; margin-bottom: 25px}
.boxWap .box1 .cont{ padding: 30px 18px 0 18px}
.boxWap .box2 .cont{ padding: 12px 14px 0 14px}
.boxWap .box3 .cont{ padding: 30px 18px 0 18px}

.boxWap .box1, .boxWap .box2{ vertical-align: top; position: relative; cursor: pointer;}
.boxWap .box1:active, .boxWap .box2:active{ opacity: 0.8}

.boxWap .icoWap{ text-align: right; width: 100%; height: 60px;background:rgba(17,69,146,1); position: absolute; left: 0; bottom: 20px;}
.boxWap .icoWap .icoAll{width: 50px; height: 38px; background-size: 100% 100%;}

.boxWap .tit1{ font-size: 26px; font-weight: bold; color: #fff;}
.boxWap .tit2{ font-size: 14px; font-weight: bold; color: #fff;}


.footer{ line-height: 42px; background:rgba(5,20,76,1); font-size: 18px; color: rgba(234,234,234,1); text-align: center; position: fixed; width: 100%; left: 0; bottom: 0;}

.bmWap .b{width: 160px; display: inline-block; margin: 92px 16px 0 16px}
.bmWap .icoAll{ width: 48px; height: 48px; background-size: 100% 100%;}
.bmWap .b1{ background: url(./assets/img3.png) no-repeat}
.bmWap .b2{ background: url(./assets/img4.png) no-repeat}
.bmWap .cont{width:82px; display: inline-block; height:82px;  background:linear-gradient(0deg,rgba(242,164,29,1),rgba(255,182,56,1));
  border-radius:4px; text-align: center; cursor: pointer;}
.bmWap .cont:active{ opacity: 0.8;}
.bmWap .tit{ color:rgba(48,80,122,1); font-size:23px; margin-top: 45px; font-weight: bold}

.wapper{ padding: 44px 70px}

.firstTit{ font-weight: bold; display: inline-block; line-height: 1; padding-left: 20px; border-left: 6px solid #114592; color: #114592; font-size: 26px;}

.boxWapAll1{ background:rgba(255,255,255,1); box-shadow:0px 0px 6px 0px rgba(170, 187, 176, 0.35);
  border-radius:6px;}
  
.boxWapAll2{ background:rgba(255,255,255,1); box-shadow:0px 0px 6px 0px rgba(170, 187, 176, 0.35);
  border-radius:6px; height: 760px; overflow: auto;}
.titWap1{ border-bottom: 1px solid rgba(232,232,232,1); height: 60px; padding: 0 28px;}
.titWap1 .span{ font-size: 24px; vertical-align: middle; display: inline-block; color: #114592;}
.boxWapAll1 .cont{ display: flex;
  justify-content:center;
  align-items:center;
  text-align: center; cursor: pointer;
font-size: 24px; margin: 8px; float: left; width:260px; height:120px;  background:#f1f1f1;  border-radius:4px;}
.boxWapAll1 .cont:active{ opacity: 0.8;}

.btnIndex{ width: 140px; height: 60px; cursor: pointer; background-position: -242px -1286px;}
.btnBack{ width: 140px; height: 60px; cursor: pointer; background-position: -409px -1286px;}
.btnIndex:active, .btnBack:active{ opacity: 0.8;}

.yyBox{ width:286px; vertical-align: top;
  text-align: center;
  height:306px; margin: 0 24px; background:rgba(255,255,255,1); border:1px solid rgba(66,134,216,1);
  border-radius:6px; display: inline-block;}
.yyBox .a1{width:150px; vertical-align: middle;
  height:150px;
  background:rgba(255,255,255,1);
  border:4px solid rgba(66,134,216,1);
  border-radius:50%; display: inline-block}
.yyBox .a2{width:130px; vertical-align: middle;
  height:130px;
  background:rgba(246,246,246,1);
  border:1px solid rgba(66,134,216,1);
  border-radius:50%;display: inline-block}
.yyBox:active{ background: url(./assets/img5.png) no-repeat; background-size: 100% 100%; border: 1px solid #fff}
.yyBox:active .a1{ background: none; border-color: #fff;}
.yyBox:active .a2{ background:rgba(246,246,246,1); border-color: #fff;}
.yyBox:active p{ color: #fff;}


.cxCont{width:250px;
  height:200px;
  background:rgba(241,244,249,1);
  border-radius:4px;display: flex;
  text-align: center; cursor: pointer; display: inline-block;
  font-size:24px; margin: 15px 10px;
}
.cxCont:active{ opacity: 0.8}

.spanWap1{ width: 996px; height: 60px; background-position: -241px -1049px;}
.zxTitWap{ border-bottom:1px solid rgba(201,201,201,1); border-left:1px solid rgba(201,201,201,1);}
.zxTitWap .icoAll{ width: 32px; height: 32px; background-size: 100%;}
.zxTitWap .span{ padding: 0 35px; text-align: center; display: inline-block;
  height:60px; color: #114592; line-height: 60px;
  background:rgba(241,244,249,1);
  border-top:1px solid rgba(201,201,201,1);border-right:1px solid rgba(201,201,201,1)}
.zxTitWap .span.active{ background-color: #1755B1; color: #fff;}
.contBox1{ display: flex; padding: 0 30px; box-sizing: border-box; line-height: 30px;
  justify-content:center;
  align-items:center;
  text-align: center; cursor: pointer;
font-size: 24px; margin: 10px; float: left; width:250px; height:120px;  background:rgba(241,244,249,1);  border-radius:4px;}
.contBox1 .cont:active{ opacity: 0.8;}

.el-form-item__label{ font-size: 22px; line-height: 48px}
.el-input__inner{ height: 48px; line-height: 48px; font-size: 20px!important;}
.el-textarea__inner{ height: 250px; font-size: 20px!important}
.el-form-item__error{ font-size: 16px}

.faceWap{ display: inline-block; padding: 40px; background: url(./assets/img6.png) center; background-size: 100% 100%; background-repeat: no-repeat;}
.faceWap .cont{width: 640px; height: 476px; overflow: hidden; background-size: auto 100%; background-repeat: no-repeat; background-position: center center;}
.faceWap .p{ font-size:24px; color:rgba(82,152,255,1); font-weight: bold}
.faceWap .m{ position: absolute;
  animation: move1 1s linear infinite;
  top: -133px; left: 0; width: 100%; height: 133px; background: url(./assets/img8.png); background-size: 100% 100%;}
@keyframes move1
{
  from {transform:translateY(0);}
  to {transform:translateY(602px);}
}

.faceWap2{width:653px; height:432px; display: inline-block;  background: url(./assets/img16.gif); background-size: 100% 100%;}
.faceWap2 .cont{width:612px; height:404px; margin: 0 auto; margin-top: 14px;}

.xxWap{width:686px; margin: 0 auto;
  padding: 20px 50px 80px 50px;
  background:rgba(255,255,255,1);
  border:1px solid rgba(201,201,201,1);}
.xxWap .tx{ width:143px; position: absolute; top: 20px; right: 20px;
  height:191px;
  background:rgba(241,244,249,1);}


.jjBoxWap{ width: 800px; margin: 0 auto; text-align: center; margin-top: 100px}

.jjBox{width:360px; cursor: pointer; vertical-align: top; padding: 0 15px; box-sizing: border-box;
  height:200px; display: inline-block;
  border-radius:6px;
  background:rgba(255,255,255,1);
  border:1px solid rgba(66,134,216,1); margin: 0 15px 34px 15px;
}
.jjBox:active{ 
  background: url(./assets/img10.png); background-size: 100% 100%;
  border:1px solid #fff;
  }

.jjBox .a1{width:130px;
  height:130px; text-align: center;
  background:rgba(255,255,255,1);
  border:4px solid rgba(66,134,216,1);
  border-radius:50%; display: inline-block}
.jjBox .a2{width:113px; margin: 7px 0 0 0;
  height:113px;
  background:rgba(246,246,246,1);
  border:1px solid rgba(66,134,216,1);
  border-radius:50%;display: inline-block}
.jjBox:active .a1{ background: none; border-color: #fff;}
.jjBox:active .a2{ background:rgba(246,246,246,1); border-color: #fff;}
.jjBox .p{ line-height: 1.5}
.jjBox:active .p{ color: #fff;}
.cphm{width:100px; text-align: center; font-size: 22px; position: absolute;
  line-height:46px; top: 1px; left: 1px;
  background:rgba(231,231,231,1);
  border-right:1px solid rgba(201,201,201,1);
  border-radius:4px 0px 0px 4px;}


.el-dialog{ width: auto}
.el-dialog__wrapper{display: flex;
  justify-content:center;
  align-items:Center;}
.modal{ margin: 0; border-radius:4px}
.modal .el-dialog__header{ 
  height:68px; overflow: hidden;
  background:rgba(23,85,177,1); padding: 0 35px;
  border-radius:4px 4px 0px 0px;}
.modal .el-dialog__title{ line-height: 68px; font-size: 24px; font-weight: bold; color: #fff;}
.modal .el-dialog__headerbtn{ top: 15px; right: 35px;}
.jgWap{ max-height: 300px; overflow: auto; width: 770px; margin: 0 auto}
.jgWap .btns{min-width:210px; padding: 0 15px; color: #1755B1; font-size: 22px; display: inline-block;
  height:48px; line-height: 48px; margin: 5px; 
  border:1px solid rgba(231,231,231,1);
  border-radius:24px;}
.jgWap .btns.active{background:rgba(23,85,177,1);
  border:1px solid rgba(231,231,231,1); color: #fff;}
.el-form-item__content .jgWap .btns{ margin: 2px;}
.el-checkbox__inner{ width: 20px; height: 20px; }
.el-checkbox__inner::after{ width: 7px; height: 11px;}

.ewmWap{ display: inline-block;
  background:rgba(241,244,249,1);}
  .ewmWap img{width:272px;
    height:272px; margin: 14px;}
.el-icon-close:before{width:100px; display: inline-block; text-align: center; font-size: 22px; color: #fff;
  line-height:42px;
  background:linear-gradient(0deg,rgba(242,164,29,1),rgba(255,182,56,1));
  border-radius:3px; content: '关闭'}

.sblbBox{ width:193px; display: inline-block; margin: 0 5px;
  height:269px; text-align: center;
  border:1px solid rgba(66,134,216,1);
  border-radius:4px;}
.sblbBox.active{ border: 1px solid #fff; background: url(./assets/img12.png); background-size: 100% 100%;}
.sblbBox.active p{ color: #fff;}

.upImgWap{ width: 113px; height: 76px; float: left; margin: 0 10px 0 0}
.upImgWap img{ width: 100%; height: 100%;}

.labelColorBlue .el-form-item__label{ color: #1755B1}
.yysjWap{ width: 725px;}
.yysjWap .h{ border-bottom: 1px solid rgba(231,231,231,1); border-right: 1px solid rgba(231,231,231,1);}
.yysjWap .h .span{ display: inline-block;width:180px; float: left; cursor: pointer;
  height:66px; line-height: 66px; text-align: center;
  border:1px solid rgba(231,231,231,1); border-bottom: none; border-right: none;
  border-radius:4px 4px 0px 0px;}
.yysjWap .h .span .a{ font-size: 24px; color: #1755B1;}
.yysjWap .h .span .b{ font-size: 20px; color: #CDCDCD; margin-left: 10px}
.yysjWap .h .span.active{ background-color: #1755B1}
.yysjWap .h .span.active .a,.yysjWap .h .span.active .b{ color: #fff;}
.yysjWap .c{ border:1px solid rgba(231,231,231,1); height: 212px; border-top: none; padding: 12px; overflow: auto}
.yysjWap .c .span{width:152px; font-size: 20px; margin: 6px 10px; cursor: pointer;
  height:48px; line-height: 48px; text-align: center; display: inline-block;
  border:1px solid rgba(231,231,231,1);}
.yysjWap .c .span.no{background:rgba(238,238,238,1); color: #999999;}
.yysjWap .c .span.yes{background:#56CA69; color: #fff;}
.yysjWap .c .span.on{background:#1755B1; color: #fff;}

.selInput{}
.el-form-item__label{ color: #1755B1}
.el-select-dropdown__item{ line-height: 50px; height: 50px; font-size: 20px}

.jgBox1{width:200px;
  height:120px;
  border:1px solid rgba(201,201,201,1);
  border-radius:6px; text-align: center;}
.jgBox2{ margin-left: 45px; padding-left: 40px;
  height:120px;
  border:1px solid rgba(201,201,201,1);
  border-radius:6px;}
.dian1{ width:14px;
  height:14px;
  background:rgba(23,85,177,1); display: inline-block}
.dian2{ width:16px;
  height:16px;
  background:rgba(255,146,29,1);
  border-radius:2px; display: inline-block}
.baWap1{height:152px; color: #114592; background: url(./assets/img14.png) no-repeat center; background-size: auto 100%;
  font-size: 26px; text-align: center; line-height: 130px; margin-left: 20px}

.baWap2{height:140px; color: #114592; background: url(./assets/img15.png); background-size: 100% 100%;
    font-size: 26px; text-align: center; line-height: 100px;}
.xzWap{ text-align: left;
  padding: 70px 67px;
  border:1px solid rgba(66,134,216,1);}
.jleftArea{ width: 288px; 
  position: absolute; top: 0; left: 0;
  border-right: 1px solid #C9C9C9;}
.jleftArea .span{width:100%; text-align: center; display: inline-block;
  height:110px; line-height: 110px; color: #666; font-size: 24px; margin-top: 20px;
  background:rgba(223,223,223,1); cursor: pointer;}
.jleftArea .span.active{ color: #fff;
  background:rgba(23,85,177,1);}
  .jrightArea { margin: 0 20px 0 308px; height: 100%; overflow: auto}
  .jrightArea .box{ cursor: pointer;
  padding: 20px; margin-top: 20px;
  background:rgba(255,255,255,1);
  border:1px solid rgba(201,201,201,1);
  border-radius:4px;}
.el-message-box__message{ font-size: 18px;}
.el-message-box__btns{ text-align: center; }
.el-message-box__btns .el-button{width:240px;
  line-height:40px; padding: 0; display: inline-block;
  background:rgba(23,85,177,1); font-size: 20px;
  border-radius:4px;}
  .el-message-box{width:440px;
    padding: 0 0 30px 0; 
    background:rgba(250,250,250,1);
    border:1px solid rgba(164,201,255,1);
    border-radius:4px;}
    .el-message-box__content{ padding: 0 20px 20px 20px;}

.el-message__content{ font-size: 20px;}
.el-message{ min-width: 10px;}

.pdfBox{ width: 138px; height: 180px; margin: 0 10px; float: left; background: url(./assets/img19.png); background-size: 100% 100%;}

.xs_kt{ display: inline!important;}


.jzBox{width:520px;
  height:160px;
  border:1px solid rgba(66,134,216,1);
  border-radius:6px;
  cursor: pointer; margin: 10px 8px;
  display: inline-block; text-align: center; box-sizing: border-box; padding-top: 45px;
}
.jzBox .icoAll{ width: 76px; height: 60px;}
.jzBox .span{ color: #114592}
.jzBox:active{ background-image: url(./assets/img21.png); background-size: 100% 100%;}
.jzBox:active .span{ color: #fff;}
.jzBox2{width:340px;
  height:160px; }
.areaTd{  width: 133px;
  float: left; 
  padding: 15px 10px; font-size: 22px; 
  text-align: center; background:rgba(241,244,249,1);  
  border:1px solid rgba(197,210,232,1); margin-bottom: 6px; margin-left: -1px; }

.hjTd{  width: 325px;
    float: left;  overflow: hidden;
    text-overflow: ellipsis; 
    white-space:nowrap;
    padding: 15px 10px; font-size: 22px; 
    text-align: center; background:rgba(250,250,250,1);
    border:1px solid rgba(197,210,232,1); margin: 0 20px 6px 0; }
.ywTd{width: 38%; overflow: hidden;
  float: left; overflow: hidden;
  text-overflow: ellipsis; 
  white-space:nowrap;
  padding: 15px 35px; font-size: 22px; 
  text-align: center; background:rgba(250,250,250,1);  
  border:1px solid rgba(197,210,232,1); margin-bottom: 6px; margin-right: 2%}
.areaTd.active, .hjTd.active, .ywTd.active{ background-color: #1755B1; color: #fff;}


.lineFenge{
  padding: 0 20px 0;
    margin: 20px 0;
    line-height: 4px;
    border-left: 400px solid #C5D2E8;
    border-right: 400px solid #C5D2E8;
    text-align: center;
}
.zxDetailBox{overflow: auto; padding: 30px;
  height:430px; font-size: 20px;
  background:rgba(250,250,250,1);
  border:1px solid rgba(197,210,232,1);
  border-radius:2px;}
  .zxDetailBox .ico{ width: 22px; vertical-align: middle;}